article.journal-entry {
  display: flex;
}

div.destionation-card {
    align-items:center;
    background-color: #090c00;
    background-color: color-mix(in srgb, #f1f1f1 75%, #03100f 25%);
    background-image: linear-gradient(75deg, #d27ada, #003a3a, #80058b);
  }
  
  img.location {
    justify-content: space-between;
    margin-left: 10px;
    border-radius: 18px;
    width: 200px;
    height: 250px;
  }
  
  img.pin-loc {
    width: 16px;
    height: 16px;
  }

  img:hover{
    filter: drop-shadow(0 0 0.8rem #f83bff);
    transition: 0.6s all ease-in-out 0.3s;
  }

  div.place-card{
    display:flex;
    padding: 8px;
  }

  div > p, a {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  }

 span{
    display: flow-root;
    padding: 8px;
    color:#0c0015
 }

  p{
    display: block;
    font-size: 15px;
    color: #0c0015;
    background-color:color-gradient(in srgb, #551f7e 20%, #a4fffd 75%);
    border-radius: 8px;
  }
  
  a {
    margin-left: 7px;
    justify-content: space-between;
    text-decoration-line: underline;    
    color: #00fffb;
  }

  a:hover {
    filter: drop-shadow(0 0 0.75rem #05ff71 );
  }