header {
    display: flex;
    margin: 0 auto;
    max-height: 80px;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, #f55a5a 35%, crimson 60%);
    color: white;
    height: 55px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

header > h1 {
    font-family: 'inter';
    font-size: 0.9rem;
    font-weight: 500;
}

.globe{
    align-items: center;
    justify-content: center;
    margin: 7px;
    width: 50px;
    height: 50px;
    /* object-fit: fill; */
    animation: spin infinite 20s linear;
}
.globe:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }